In [4]:
import pandas as pd
import numpy as np

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.option_context('display.max_rows', 999, 'display.max_columns', 999);

In [30]:
df = pd.read_csv('algorytm_genetyczny.csv')
df = df[['rozmiar', 'czy_hybrydowy', 'wersja_ls', 'nr_selekcji','precyzja_ruletki','ilosc_uczestnikow_turnieju','metoda_selekcji_rankingowej','metoda_krzyzowania','jakosc_wyniku']]
df

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania,jakosc_wyniku
0,21,True,0,0,-1,-1,-1,0,1.000000
1,21,True,0,0,-1,-1,-1,1,1.000000
2,21,True,0,0,-1,-1,-1,2,0.884063
3,21,True,0,1,0,-1,-1,0,1.000000
4,21,True,0,1,0,-1,-1,1,1.000000
...,...,...,...,...,...,...,...,...,...
211,323,False,-1,3,-1,-1,0,1,0.288826
212,323,False,-1,3,-1,-1,0,2,0.269677
213,323,False,-1,3,-1,-1,1,0,0.252283
214,323,False,-1,3,-1,-1,1,1,0.279924
215,323,False,-1,3,-1,-1,1,2,0.268421

In [ ]:
wersja_ls_map = {0:'greedy', 1:'steepest', -1:np.nan}

## czy hybrydowy

In [12]:
df_hybrydowy = df[df['czy_hybrydowy']==True]
df_nie_hybrydowy = df[df['czy_hybrydowy']==False]

In [14]:
print('Hybrydowy:   ','min:',round(df_hybrydowy['jakosc_wyniku'].min(),3), 'mean:',round(df_hybrydowy['jakosc_wyniku'].mean(),3),'max:',df_hybrydowy['jakosc_wyniku'].max())
print('Niehybrydowy:','min:',round(df_nie_hybrydowy['jakosc_wyniku'].min(),3), 'mean:',round(df_nie_hybrydowy['jakosc_wyniku'].mean(),3),'max:',df_nie_hybrydowy['jakosc_wyniku'].max())

Hybrydowy:    min: 0.228 mean: 0.544 max: 1.0
Niehybrydowy: min: 0.235 mean: 0.519 max: 1.0

## Wersja LS

In [33]:
df_wersja_ls_greedy = df[df['wersja_ls']==0]
df_wersja_ls_steepest = df[df['wersja_ls']==1]

In [35]:
print('Greedy:  ','min:',round(df_wersja_ls_greedy['jakosc_wyniku'].min(),3), 'mean:',round(df_wersja_ls_greedy['jakosc_wyniku'].mean(),3),'max:',df_wersja_ls_greedy['jakosc_wyniku'].max())
print('Steepest:','min:',round(df_wersja_ls_steepest['jakosc_wyniku'].min(),3), 'mean:',round(df_wersja_ls_steepest['jakosc_wyniku'].mean(),3),'max:',df_wersja_ls_steepest['jakosc_wyniku'].max())

Greedy:   min: 0.24 mean: 0.583 max: 1.0
Steepest: min: 0.228 mean: 0.505 max: 1.0

## Nr selekcji

In [36]:
df_selekcja_zwykla = df[df['nr_selekcji']==0]
df_selekcja_ruletka = df[df['nr_selekcji']==1]
df_selekcja_turniejowa = df[df['nr_selekcji']==2]
df_selekcja_rankingowa = df[df['nr_selekcji']==3]

In [37]:
print('Zwykla:    ','min:',round(df_selekcja_zwykla['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_zwykla['jakosc_wyniku'].mean(),3),'max:',df_selekcja_zwykla['jakosc_wyniku'].max())
print('Ruletka:   ','min:',round(df_selekcja_ruletka['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_ruletka['jakosc_wyniku'].mean(),3),'max:',df_selekcja_ruletka['jakosc_wyniku'].max())
print('Turniejowa:','min:',round(df_selekcja_turniejowa['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_turniejowa['jakosc_wyniku'].mean(),3),'max:',df_selekcja_turniejowa['jakosc_wyniku'].max())
print('Rankingowa:','min:',round(df_selekcja_rankingowa['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_rankingowa['jakosc_wyniku'].mean(),3),'max:',df_selekcja_rankingowa['jakosc_wyniku'].max())

Zwykla:     min: 0.228 mean: 0.498 max: 1.0
Ruletka:    min: 0.228 mean: 0.525 max: 1.0
Turniejowa: min: 0.23 mean: 0.551 max: 1.0
Rankingowa: min: 0.232 mean: 0.557 max: 1.0

## Precyzje ruletki

In [38]:
df_selekcja_ruletka_precyzja_zwykla = df[df['precyzja_ruletki']==0]
df_selekcja_ruletka_precyzja_poprawiona = df[df['precyzja_ruletki']==1]
df_selekcja_ruletka_precyzja_mocno_poprawiona = df[df['precyzja_ruletki']==2]

In [39]:
print('Zwykla:          ','min:',round(df_selekcja_ruletka_precyzja_zwykla['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_ruletka_precyzja_zwykla['jakosc_wyniku'].mean(),3),'max:',df_selekcja_ruletka_precyzja_zwykla['jakosc_wyniku'].max())
print('Poprawiona:      ','min:',round(df_selekcja_ruletka_precyzja_poprawiona['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_ruletka_precyzja_poprawiona['jakosc_wyniku'].mean(),3),'max:',df_selekcja_ruletka_precyzja_poprawiona['jakosc_wyniku'].max())
print('Mocno poprawiona:','min:',round(df_selekcja_ruletka_precyzja_mocno_poprawiona['jakosc_wyniku'].min(),3), 'mean:',round(df_selekcja_ruletka_precyzja_mocno_poprawiona['jakosc_wyniku'].mean(),3),'max:',df_selekcja_ruletka_precyzja_mocno_poprawiona['jakosc_wyniku'].max())

Zwykla:           min: 0.228 mean: 0.515 max: 1.0
Poprawiona:       min: 0.228 mean: 0.516 max: 1.0
Mocno poprawiona: min: 0.234 mean: 0.542 max: 1.0

## Ilosc uczestnikow turnieju

In [40]:
df_turniej_2 = df[df['ilosc_uczestnikow_turnieju']==2]
df_turniej_10 = df[df['ilosc_uczestnikow_turnieju']==10]

In [42]:
print('Uczestnikow - 2: ','min:',round(df_turniej_2['jakosc_wyniku'].min(),3), 'mean:',round(df_turniej_2['jakosc_wyniku'].mean(),3),'max:',df_turniej_2['jakosc_wyniku'].max())
print('Uczestnikow - 10:','min:',round(df_turniej_10['jakosc_wyniku'].min(),3), 'mean:',round(df_turniej_10['jakosc_wyniku'].mean(),3),'max:',df_turniej_10['jakosc_wyniku'].max())

Uczestnikow - 2:  min: 0.231 mean: 0.549 max: 1.0
Uczestnikow - 10: min: 0.23 mean: 0.553 max: 1.0

## Metoda selekcji rankingowej

In [43]:
df_ranking_liniowa = df[df['metoda_selekcji_rankingowej']==0]
df_ranking_nieliniowa = df[df['metoda_selekcji_rankingowej']==1]

In [46]:
print('Rankingowa, liniowa   :','min:',round(df_ranking_liniowa['jakosc_wyniku'].min(),3), 'mean:',round(df_ranking_liniowa['jakosc_wyniku'].mean(),3),'max:',df_ranking_liniowa['jakosc_wyniku'].max())
print('Rankingowa, nieliniowa:','min:',round(df_ranking_nieliniowa['jakosc_wyniku'].min(),3), 'mean:',round(df_ranking_nieliniowa['jakosc_wyniku'].mean(),3),'max:',df_ranking_nieliniowa['jakosc_wyniku'].max())

Rankingowa, liniowa   : min: 0.233 mean: 0.556 max: 1.0
Rankingowa, nieliniowa: min: 0.232 mean: 0.558 max: 1.0

## Metody krzyzowania

In [45]:
df_krzyzowanie_jednopunktowe = df[df['metoda_krzyzowania']==0]
df_krzyzowanie_OX = df[df['metoda_krzyzowania']==1]
df_krzyzowanie_PMX = df[df['metoda_krzyzowania']==2]

In [47]:
print('Krzyzowanie jednopunktowe:','min:',round(df_krzyzowanie_jednopunktowe['jakosc_wyniku'].min(),3), 'mean:',round(df_krzyzowanie_jednopunktowe['jakosc_wyniku'].mean(),3),'max:',df_krzyzowanie_jednopunktowe['jakosc_wyniku'].max())
print('Krzyzowanie OX:           ','min:',round(df_krzyzowanie_OX['jakosc_wyniku'].min(),3), 'mean:',round(df_krzyzowanie_OX['jakosc_wyniku'].mean(),3),'max:',df_krzyzowanie_OX['jakosc_wyniku'].max())
print('Krzyzowanie PMX          :','min:',round(df_krzyzowanie_PMX['jakosc_wyniku'].min(),3), 'mean:',round(df_krzyzowanie_PMX['jakosc_wyniku'].mean(),3),'max:',df_krzyzowanie_PMX['jakosc_wyniku'].max())

Krzyzowanie jednopunktowe: min: 0.229 mean: 0.545 max: 1.0
Krzyzowanie OX:            min: 0.228 mean: 0.531 max: 1.0
Krzyzowanie PMX          : min: 0.228 mean: 0.532 max: 1.0

## Ktore kombinacje najczesciej dawaly najlepsze wyniki?

In [51]:
df_21 = df[df['rozmiar']==21]
df_71 = df[df['rozmiar']==71]
df_323 = df[df['rozmiar']==323]

In [52]:
df_21['jakosc_wyniku'].max()
df_71['jakosc_wyniku'].max()
df_323['jakosc_wyniku'].max()

1.0

0.668495029139527

0.3050379572118703

In [54]:
df_21_max = df_21[df_21['jakosc_wyniku']==df_21['jakosc_wyniku'].max()]
df_71_max = df_71[df_71['jakosc_wyniku']==df_71['jakosc_wyniku'].max()]
df_323_max = df_323[df_323['jakosc_wyniku']==df_323['jakosc_wyniku'].max()]
df_max = [df_21_max,df_71_max,df_323_max]

In [104]:
df_21_max

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania,jakosc_wyniku
0,21,True,0,0,-1,-1,-1,0,1.0
1,21,True,0,0,-1,-1,-1,1,1.0
3,21,True,0,1,0,-1,-1,0,1.0
4,21,True,0,1,0,-1,-1,1,1.0
6,21,True,0,1,1,-1,-1,0,1.0
9,21,True,0,1,2,-1,-1,0,1.0
10,21,True,0,1,2,-1,-1,1,1.0
11,21,True,0,1,2,-1,-1,2,1.0
12,21,True,0,2,-1,2,-1,0,1.0
13,21,True,0,2,-1,2,-1,1,1.0
15,21,True,0,2,-1,10,-1,0,1.0
16,21,True,0,2,-1,10,-1,1,1.0
17,21,True,0,2,-1,10,-1,2,1.0
18,21,True,0,3,-1,-1,0,0,1.0
19,21,True,0,3,-1,-1,0,1,1.0
20,21,True,0,3,-1,-1,0,2,1.0
21,21,True,0,3,-1,-1,1,0,1.0
22,21,True,0,3,-1,-1,1,1,1.0
23,21,True,0,3,-1,-1,1,2,1.0
24,21,True,1,0,-1,-1,-1,0,1.0
26,21,True,1,0,-1,-1,-1,2,1.0
27,21,True,1,1,0,-1,-1,0,1.0
30,21,True,1,1,1,-1,-1,0,1.0
31,21,True,1,1,1,-1,-1,1,1.0
33,21,True,1,1,2,-1,-1,0,1.0
34,21,True,1,1,2,-1,-1,1,1.0
35,21,True,1,1,2,-1,-1,2,1.0
36,21,True,1,2,-1,2,-1,0,1.0
38,21,True,1,2,-1,2,-1,2,1.0
39,21,True,1,2,-1,10,-1,0,1.0
40,21,True,1,2,-1,10,-1,1,1.0
41,21,True,1,2,-1,10,-1,2,1.0
42,21,True,1,3,-1,-1,0,0,1.0
43,21,True,1,3,-1,-1,0,1,1.0
44,21,True,1,3,-1,-1,0,2,1.0
45,21,True,1,3,-1,-1,1,0,1.0
46,21,True,1,3,-1,-1,1,1,1.0
47,21,True,1,3,-1,-1,1,2,1.0
51,21,False,-1,1,0,-1,-1,0,1.0
58,21,False,-1,1,2,-1,-1,1,1.0
60,21,False,-1,2,-1,2,-1,0,1.0
62,21,False,-1,2,-1,2,-1,2,1.0
65,21,False,-1,2,-1,10,-1,2,1.0
69,21,False,-1,3,-1,-1,1,0,1.0
70,21,False,-1,3,-1,-1,1,1,1.0

In [112]:
df_323.groupby(['jakosc_wyniku']).max().tail(10)

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania
jakosc_wyniku,,,,,,,,
0.278747,323,True,0,1,2,-1,-1,2
0.279924,323,False,-1,3,-1,-1,1,1
0.285899,323,False,-1,2,-1,10,-1,1
0.288826,323,False,-1,3,-1,-1,0,1
0.289709,323,True,0,3,-1,-1,0,2
0.291621,323,True,0,2,-1,10,-1,2
0.293039,323,True,0,3,-1,-1,1,2
0.293948,323,True,0,3,-1,-1,1,1
0.302119,323,True,0,2,-1,10,-1,1
0.305038,323,True,0,3,-1,-1,0,1

In [114]:
df_71.groupby(['jakosc_wyniku']).max().tail(10)

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania
jakosc_wyniku,,,,,,,,
0.489581,71,True,0,3,-1,-1,0,2
0.490319,71,True,0,3,-1,-1,1,2
0.497069,71,True,0,3,-1,-1,0,1
0.498976,71,True,0,2,-1,2,-1,2
0.519723,71,True,0,2,-1,10,-1,1
0.532496,71,True,0,3,-1,-1,1,0
0.537042,71,True,0,2,-1,2,-1,0
0.574374,71,True,0,1,0,-1,-1,0
0.634146,71,True,0,1,1,-1,-1,0
0.668495,71,True,0,0,-1,-1,-1,0

In [71]:
unique_czy_hybrydowy = [True,False]
unique_wersja_ls = [0,1,-1]
unique_nr_selekcji = [0,1,2,3]
unique_precyzja_ruletki = [0,1,2,-1]
unique_ilosc_uczstnikow_turnieju = [2,10,-1]
unique_metoda_selekcji_rankingowej = [0,1,-1]
unique_metoda_krzyzowania = [0,1,2]

In [72]:
kombinacje = {}
for a in unique_czy_hybrydowy:
    for b in unique_wersja_ls:
        for c in unique_nr_selekcji:
            for d in unique_precyzja_ruletki:
                for e in unique_ilosc_uczstnikow_turnieju:
                    for f in unique_metoda_selekcji_rankingowej:
                        for g in unique_metoda_krzyzowania:
                            kombinacje[a,b,c,d,e,f,g] = 0

In [74]:
for list_max in df_max:
    for index, row in list_max.iterrows():
        kombinacje[row['czy_hybrydowy'],row['wersja_ls'],row['nr_selekcji'],row['precyzja_ruletki'],row['ilosc_uczestnikow_turnieju'],row['metoda_selekcji_rankingowej'],row['metoda_krzyzowania']] += 1

In [82]:
for key, values in kombinacje.items():
    if values == 2:
        print(key)

(True, 0, 0, -1, -1, -1, 1)
(True, 0, 1, 0, -1, -1, 0)
(True, 0, 1, 0, -1, -1, 1)
(True, 0, 1, 1, -1, -1, 0)
(True, 0, 1, 2, -1, -1, 0)
(True, 0, 1, 2, -1, -1, 1)
(True, 0, 1, 2, -1, -1, 2)
(True, 0, 2, -1, 2, -1, 0)
(True, 0, 2, -1, 2, -1, 1)
(True, 0, 2, -1, 10, -1, 0)
(True, 0, 2, -1, 10, -1, 1)
(True, 0, 2, -1, 10, -1, 2)
(True, 0, 3, -1, -1, 0, 0)
(True, 0, 3, -1, -1, 0, 2)
(True, 0, 3, -1, -1, 1, 0)
(True, 0, 3, -1, -1, 1, 1)
(True, 0, 3, -1, -1, 1, 2)
(True, 1, 0, -1, -1, -1, 0)
(True, 1, 0, -1, -1, -1, 2)
(True, 1, 1, 0, -1, -1, 0)
(True, 1, 1, 1, -1, -1, 0)
(True, 1, 1, 1, -1, -1, 1)
(True, 1, 1, 2, -1, -1, 0)
(True, 1, 1, 2, -1, -1, 1)
(True, 1, 1, 2, -1, -1, 2)
(True, 1, 2, -1, 2, -1, 0)
(True, 1, 2, -1, 2, -1, 2)
(True, 1, 2, -1, 10, -1, 0)
(True, 1, 2, -1, 10, -1, 1)
(True, 1, 2, -1, 10, -1, 2)
(True, 1, 3, -1, -1, 0, 0)
(True, 1, 3, -1, -1, 0, 1)
(True, 1, 3, -1, -1, 0, 2)
(True, 1, 3, -1, -1, 1, 0)
(True, 1, 3, -1, -1, 1, 1)
(True, 1, 3, -1, -1, 1, 2)
(False, -1, 1, 0, -1, -1, 0)
(False, -1, 1, 2, -1, -1, 1)
(False, -1, 2, -1, 2, -1, 0)
(False, -1, 2, -1, 2, -1, 2)
(False, -1, 2, -1, 10, -1, 2)
(False, -1, 3, -1, -1, 1, 0)
(False, -1, 3, -1, -1, 1, 1)

## Inaczej

In [120]:
df_71.sort_values(by='jakosc_wyniku', ascending=False).head(5)

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania,jakosc_wyniku
72,71,True,0,0,-1,-1,-1,0,0.668495
78,71,True,0,1,1,-1,-1,0,0.634146
75,71,True,0,1,0,-1,-1,0,0.574374
84,71,True,0,2,-1,2,-1,0,0.537042
93,71,True,0,3,-1,-1,1,0,0.532496

In [121]:
df_323.sort_values(by='jakosc_wyniku', ascending=False).head()

,rozmiar,czy_hybrydowy,wersja_ls,nr_selekcji,precyzja_ruletki,ilosc_uczestnikow_turnieju,metoda_selekcji_rankingowej,metoda_krzyzowania,jakosc_wyniku
163,323,True,0,3,-1,-1,0,1,0.305038
160,323,True,0,2,-1,10,-1,1,0.302119
166,323,True,0,3,-1,-1,1,1,0.293948
167,323,True,0,3,-1,-1,1,2,0.293039
161,323,True,0,2,-1,10,-1,2,0.291621